.product-category-title{
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
  border-bottom: #777 solid 0.1em;
}
.product-wrapper{
  padding: 1em 0.5em;
  margin-bottom: 1em;
  text-align: center;
  background: #0275d8;
  color: #fbfbfb;
  border-radius: 0.2em;
}

figure {
  margin: 0 0 0.5em;
}
