<app-search-result [products]="productCategories"></app-search-result>

<form novalidate (ngSubmit)="onSubmit(shipment)" [formGroup]="shipment" *ngIf="!isDataFetched">
  <div class="form-group row">
    <label class="col-2  col-form-label">
      Wysokość
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="wysokość [cm]"
        formControlName="height">
      <div class="error" *ngIf="( shipment.get('height').touched && shipment.get('height').hasError('required'))
      || validationErrors.height !== errorMsgReq">
        {{validationErrors.height}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Szerokość
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="szerokość [cm]"
        formControlName="width">
      <div class="error" *ngIf="( shipment.get('width').touched && shipment.get('width').hasError('required'))
      || validationErrors.width !== errorMsgReq">
        {{validationErrors.width}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Długość
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="długość [cm]"
        formControlName="length">
      <div class="error" *ngIf="( shipment.get('length').touched && shipment.get('length').hasError('required'))
      || validationErrors.length !== errorMsgReq">
        {{validationErrors.length}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Waga
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="waga [kg]"
        formControlName="weight">
      <div class="error" *ngIf="( shipment.get('weight').touched && shipment.get('weight').hasError('required'))
      || validationErrors.weight !== errorMsgReq">
        {{validationErrors.weight}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Ilość paczek
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="ilość paczek"
        formControlName="quantity">
      <div class="error" *ngIf="( shipment.get('quantity').touched && shipment.get('quantity').hasError('required'))
      || validationErrors.quantity !== errorMsgReq">
        {{validationErrors.quantity}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Kraj nadawcy
    </label>
    <div class="col-10">
      <select class="form-control" formControlName="senderCountryId">
        <option *ngFor="let country of countries" [ngValue]="country.id">
          {{country.name}}
        </option>
      </select>
      <div class="error" *ngIf="( shipment.get('senderCountryId').touched && shipment.get('senderCountryId').hasError('required'))
      || validationErrors.senderCountryId !== errorMsgReq">
        {{validationErrors.senderCountryId}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Kraj odbiorcy
    </label>
    <div class="col-10">
      <select class="form-control" formControlName="receiverCountryId">
        <option *ngFor="let country of countries" [ngValue]="country.id">
          {{country.name}}
        </option>
      </select>
      <div class="error" *ngIf="( shipment.get('receiverCountryId').touched && shipment.get('receiverCountryId').hasError('required'))
      || validationErrors.receiverCountryId !== errorMsgReq">
        {{validationErrors.receiverCountryId}}
      </div>
    </div>
  </div>

  <div class="text-right">
    <button class="btn btn-primary" type="submit" [disabled]="shipment.invalid">Szukaj</button>
  </div>
</form >
