.error{
  padding-top: 3px;
  color: darkred;
}
.product-category-title{
  font-size: 1.2em;
  padding-bottom: 1.5em;
}
.product-wrapper{
  padding: 1em 0.5em;
  margin-bottom: 1em;
  text-align: center;
  background: #0275d8;
  color: #fbfbfb;
  border-radius: 0.2em;
}

figure {
  margin: 0 0 0.5em;
}
