<app-search-result [products]="productCategories"></app-search-result>

<form novalidate (ngSubmit)="onSubmit(shipment)" [formGroup]="shipment" *ngIf="!isDataFetched">
  <div formGroupName="basic">

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Wysokość
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="wysokość [cm]"
        formControlName="height">
      <div class="error" *ngIf="( shipment.get('basic.height').touched && shipment.get('basic.height').hasError('required'))
      || validationErrors.height !== errorMsg.required">
        {{validationErrors.height}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Szerokość
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="szerokość [cm]"
        formControlName="width">
      <div class="error" *ngIf="( shipment.get('basic.width').touched && shipment.get('basic.width').hasError('required'))
      || validationErrors.width !== errorMsg.required">
        {{validationErrors.width}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Długość
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="długość [cm]"
        formControlName="length">
      <div class="error" *ngIf="( shipment.get('basic.length').touched && shipment.get('basic.length').hasError('required'))
      || validationErrors.length !== errorMsg.required">
        {{validationErrors.length}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Waga
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="waga [kg]"
        formControlName="weight">
      <div class="error" *ngIf="( shipment.get('basic.weight').touched && shipment.get('basic.weight').hasError('required'))
      || validationErrors.weight !== errorMsg.required">
        {{validationErrors.weight}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Ilość paczek
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="number"
        placeholder="ilość paczek"
        formControlName="quantity">
      <div class="error" *ngIf="( shipment.get('basic.quantity').touched && shipment.get('basic.quantity').hasError('required'))
      || validationErrors.quantity !== errorMsg.required">
        {{validationErrors.quantity}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Kraj nadawcy
    </label>
    <div class="col-10">
      <select class="form-control" formControlName="senderCountryId">
        <option *ngFor="let country of countries" [ngValue]="country.id">
          {{country.name}}
        </option>
      </select>
      <div class="error" *ngIf="( shipment.get('basic.senderCountryId').touched && shipment.get('basic.senderCountryId').hasError('required'))
      || validationErrors.senderCountryId !== errorMsg.required">
        {{validationErrors.senderCountryId}}
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2  col-form-label">
      Kraj odbiorcy
    </label>
    <div class="col-10">
      <select class="form-control" formControlName="receiverCountryId">
        <option *ngFor="let country of countries" [ngValue]="country.id">
          {{country.name}}
        </option>
      </select>
      <div class="error" *ngIf="( shipment.get('basic.receiverCountryId').touched && shipment.get('basic.receiverCountryId').hasError('required'))
      || validationErrors.receiverCountryId !== errorMsg.required">
        {{validationErrors.receiverCountryId}}
      </div>
    </div>
  </div>

  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="isActive" formControlName="isFastShipment">
        Dostawa w ten sam dzień
      </label>
    </div>
  </div>

  <div *ngIf="shipment.value.isFastShipment" formGroupName="extra">
    <div class="form-group row">
      <label class="col-2  col-form-label">
        Kod pocztowy nadawcy
      </label>
      <div class="col-10">
        <input
          class="form-control"
          type="text"
          placeholder="00-001"
          formControlName="senderPostCode">
        <div class="error" *ngIf="( shipment.get('extra.senderPostCode').touched && shipment.get('extra.senderPostCode').hasError('required'))
      || validationErrors.senderPostCode !== errorMsg.postCode">
          {{validationErrors.senderPostCode}}
        </div>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2  col-form-label">
        Kod pocztowy nadawcy

      </label>
      <div class="col-10">
        <input
          class="form-control"
          type="text"
          placeholder="00-001"
          formControlName="receiverPostCode">
        <div class="error" *ngIf="( shipment.get('extra.receiverPostCode').touched && shipment.get('extra.receiverPostCode').hasError('required'))
      || validationErrors.receiverPostCode !== errorMsg.postCode">
          {{validationErrors.receiverPostCode}}
        </div>
      </div>
    </div>
  </div>

  <div class="text-right">
    <button class="btn btn-primary" type="submit" [disabled]="shipment.invalid">Szukaj</button>
  </div>
</form>
