/* You can add global styles to this file, and also import other style files */
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #aaaaaa;
  font-size: 14px;
  font-weight: 400;
  background-image: url("assets/bg.png");
  color: #444;
}
